@import "./globals.less";

* {
	box-sizing: border-box;
}

html,
body {
	background: @background;
	color: @white-text;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p,
div,
a {
	padding: 0;
	margin: 0;
	border: 0;
}

a {
	outline: 0;
}

button,
input[type="submit"] {
	&::-moz-focus-inner {
		outline: 0;
	}
}

input[type="file"] {
	display: none;
}

button,
input[type="submit"] {
	border-radius: @border-radius;
	border: 0;
	padding: 0.5em 1em;
	background: @highlight;
	color: @white-text;
	font-size: 21px;
	cursor: pointer;
	text-shadow: @text-shadow;

	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);

	&:hover {
		background: lighten(@highlight, 5%);
	}

	&:active {
		box-shadow: @box-shadow;
	}
}

.container {
	background: lighten(@background, 10%);
	border-radius: @border-radius;
	padding: 1em;
	box-shadow: @box-shadow;
}

.message {
	.container();
	background: @offwhite;
	color: @black-text;
	padding-top: calc(1em - 4px);
	border-top: 8px solid transparent;
	max-width: 700px;
}

.err {
	border-top-color: @err;
}

.success {
	border-top-color: @success;
}
