@import "./globals.styl"

*
	box-sizing: border-box
	font-size: 20px

div, span, p
	cursor: default
	user-select: none

html, body
	margin: 0
	height: 100%
	overflow: hidden
	background: background
	color: white-text

.flex
	display: flex

.flexing
	flex: 1

.input
	display: block
	width: 100%
	border: 0
	color: black-text
	padding: input-padding
	outline: 0
	background: offwhite

.button
	cursor: pointer
	flex: 1
	margin: 0 4em
	background: highlight
	color: white-text
	outline: 0
	border: 0
	box-shadow: box-shadow
	border-radius: 3px
	text-shadow: text-shadow
	padding: input-padding
	transition: 100ms ease all
	width: 100%

	&::-moz-focus-inner
		border: 0

	&:active
		background: darken(highlight, 10%)

.message
	margin-top: 1em
	width: form-width
	background: offwhite
	color: black-text
	border-radius: border-radius
	padding: 0.5em
	border-radius: 3px

.err
	border-top: 5px err solid !important

.success
	border-top: 5px success solid !important
