white-text	= #f2f2f2
black-text	= #333

offwhite	= #f7f7f7
highlight	= #bf3f45

background	= #191919

err = #FF3D3D
success = #40f733

box-shadow = 1px 1px 5px 0px rgba(0,0,0,0.25)
text-shadow = 1px 1px 5px rgba(0,0,0,0.5)
input-padding = 11px 10px 9px
