<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Fela
		link(rel="stylesheet", href="./app.styl")
	body
		script(src="index.js")
